---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHero from "../components/sections/HomeHero.astro";
import CompanyIntro from "../components/sections/CompanyIntro.astro";
import RubrosShowcase from "../components/sections/RubrosShowcase.astro";
import BlogPreview from "../components/sections/BlogPreview.astro";
import ContactSection from "../components/sections/ContactSection.astro";
---

<BaseLayout>
  <main>
    <HomeHero />
    <CompanyIntro />
    <RubrosShowcase />
    <BlogPreview />
    <ContactSection />
  </main>
</BaseLayout>